* {
    font-family: Lato;
}

.nav {
    border: red solid 1px;
    background-color: lightblue;
}

.answer-button {
    display:inline-block;
    background-color: #ffffff;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.quest-container {

}