{% extends 'lessons/base.html' %}

{% block title %} Question {% endblock %}

{% block content %}
    <h1> {{ question.title }} </h1>
    <p> {{ question.text }} </p>
    <form action="." method="POST">
        {% csrf_token %}
        {% for answer in question.answer_set.all %}
            {% if guess %}
                {% if correct and answer.id == guess.id %}
                    <div class="answer-button correct">{{ answer.content }}</div>
                {% elif correct and answer.id == guess.id %}
                    <div class="answer-button incorrect">{{ answer.content }}</div>
                {% else %}
                    <div class="answer-button">{{ answer.content }}</div>
                {% endif %}
            {% else %}
                    <input class="answer-button" type="submit" name="choice" value="{{ answer.content }}">
            {% endif %}
        {% endfor %}
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
